@import url(my_reset.css);

/* --------  common elements  ------- */
body{
   font-family: 'Roboto', sans-serif;
   background: #E5E5E5;
}
.Main_title{
   font-size: 21px;
   letter-spacing: 1px;
}
.sub_title{
   font-size: 21px;
   font-weight: 500;
}
a{
   color:#3F539C;
   text-decoration:  none;
}
.main_layout{
   padding-top: 90px;
}
.sub_layout{
   padding-top: 160px;
}
main{
   padding: 15px;
}
.product_list > li{
   border-radius: 5px;
   overflow: hidden;
   margin-bottom: 15px;
}
.product_list_header{
   background: #3F539C;
   padding: 15px;
}
.product_list footer{
   background: #F1F2F7;
   padding: 15px;
}
.product_list .content{
   background: #fff;
   padding: 15px;
}
.latest li header{
   align-items: center;
   justify-content: flex-start;
   display: flex;
}
.list_titles h3{
   color:#fff;
}
.list_titles h4{
   color:rgba(255,255,255,.7);
}
.list_titles h4 em{
  font-weight: 500;
}
.latest li .content{
   display: flex;
}
.latest li .content .product_img{
   flex:0.8;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 120px;
   border:2px solid #d6dbe2;
   margin-left: 15px;
   background: #f8f8fa;
}
.latest li .content .product_img img{
   width: 100%;
   height: auto;
}
.latest li .content .product_brief_desc {
   line-height: 27px;
}
.latest li footer{
   display: flex;
   justify-content: space-between;
}
.latest li footer .tags{
   display: flex;
   align-items: center;
}
.latest li footer .tags li{
   margin-right: 30px;
   text-transform: uppercase;
}
.latest li footer form input{
   display: none;
}
.latest li footer label{
   position: relative;
   color:#dd5e46;
}
.latest li footer label span:last-child{
   position: absolute;
   top:0;
   opacity: 0;
}
.latest li footer form input:checked + label span:last-child{
   opacity: 1;
}
/* --------  Main page ------- */
.main_header{
   position: fixed;
   top:0;
   left:0;
   right:0;
   z-index: 1;
}
.header_inner{
   height:75px;
   background: linear-gradient(#DD5E46,#B34C39);
   padding: 0 15PX;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.main_header svg{
   color:#fff;
}
.main_header h1{
   color:#fff;  
}
.main_header form{
   display: none;
   position: absolute;
   top:0;
   left:0;
   right:0;
   padding:10px 15px;
   background: rgba(0,0,0,.7);
   display: flex;
   justify-content: space-between;
   z-index: -1;
   transition:0.5s ease-in-out;
}
.main_header form.active{
   top:100%;
}
.main_header form input{
   line-height: 27px;
   width: calc(100% - 40px);
   border-radius: 4px;
}
.main_header form button{
   background: none;
   border:none;
   font-size: 21px;
}
/* --------  aside ------- */

/* --------  category ------- */ 

/* --------- details  ---------- */
